:root{
  --danger: #FF644D!important;
  --blue  : #519CE0!important;
  --gray  : #F9F9F9!important;
}

.title-data{
  font-size: 1em!important;
}

.breadcrumb{
  margin: 5px 0px 15px 0px!important;
  padding: 0px 0px 0px 0px!important;
}

.text-cantidades{
  margin-left:   0px!important;
  margin-right:  0px!important;
}

.text-danger{
  color: var(--danger)!important;
}

.input-danger:focus{
  border-radius: 3px;
  border: 1px solid var(--danger);
}

.dropdown-itme-table{
  width: auto;
}

.ti-help-alt{
  color: var(--blue);
  font-size: 5em!important;
}

.ico-info{
  color: var(--blue);
  font-size: 6em!important;
}

.search{
  width: 100%!important;
}

.info{
  margin-top: 0px!important;
  margin-bottom: 2px!important;
}

.title-detalle, .title-dtEntradas, .title-relacion{
  font-size: 1em!important;
}

.title-dtEntradas{margin-bottom: 8px!important;}

.num-folio{
  font-size: 1.2em!important;
  color: #FF644D!important;
}

.ico-cobrar{
  font-size: 1.5em!important;
}

.icon-placeholder{
  font-family: "Font Awesome 5 Free"!important;
  font-weight: 900!important;
  content: "\f007"!important;
}

.btn-registrocliente{color: #595858!important;/*BFB9B9*/}

.content-textcantidades{
  margin-left:   0px!important;
  margin-right:  0px!important;
  padding-left:  0px!important;
  padding-right: 5px!important;
}

.content-cantidades{
  margin-left:   0px!important;
  margin-right:  0px!important;
  padding-left:  0px!important;
  padding-right: 0px!important;
}

.btn-regresar{
  font-size: 1em!important;
}

.content-cambio > h6{font-size: 1.3em!important;}
.text-cambio{font-size: 1.5em!important; font-weight: bold;}
.fv-abiertos{
  margin-top: 5px!important;
  font-size: 1.2em!important;
  color: #FF644D!important;
  font-weight: bold!important;
}

.content-text-montos > h6, p{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.title-montos{

}

.bg-gray{
  background: var(--gray)!important;
}
